@import '../../styles/theme.css';

.adsense-widget-container {
  background-color: var(--neutral-200);
  border: 1px solid #ddd;
  padding: var(--spacing-md);
  text-align: center;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-sm);
}

.ad-label {
  font-size: 0.8rem;
  color: var(--text-tertiary);
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
