@import '../../styles/theme.css';

.adsense-widget-container {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.ad-label {
  font-size: 0.8rem;
  color: #888;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
